<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>helloworld1.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>193A1253DFA20AFE43AA35F97D08B824F0815F8B</string>
				<key>dateExpires</key>
				<string>4/7/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3K3Y88UUJ6.com.example.hello</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3K3Y88UUJ6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>helloworld1.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>87d8733f-6853-4c4d-af11-21b17fdec6a1</string>
				<key>dateExpires</key>
				<string>4/7/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3K3Y88UUJ6</string>
				<key>name</key>
				<string>Poteca Luiza</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
